.root {
    margin-top: 5px;
}

.root.hidden {
    color: gray;
}

.header {
    background-color: #F3F5F7;
    padding: 4px 3px;
}

.header > span + span {
    margin-left: 10px;
}

.name {}

.collapse,
.expand {
    cursor: pointer;
    text-decoration: underline;
}

.config {
    float: right;
}

.config span + span {
    margin-left: 20px;
}

.show,
.hide,
.up,
.down {
    text-decoration: underline;
    cursor: pointer;
}

.drag-handle {
    cursor: grab;
    cursor: -webkit-grab;
}

.drag-ghost,
.drag-ghost * {
    /* pointer events are prevented on ghost element by default 
     https://github.com/clauderic/react-sortable-hoc/issues/212 */
    pointer-events: auto !important;
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.child {
    margin-left: 30px;
}

.child-projects {
    margin-top: 4px;
}

.build-types {
    margin-top: 4px;
}