.root {
    margin-top: 7px;
}

.root.hidden {
    color: gray;
}

.drag-handle {
    /* TODO: setup autoprefixer */
    cursor: grab;
    cursor: -webkit-grab;
}

.drag-ghost,
.drag-ghost * {
    /* pointer events are prevented on ghost element by default 
     https://github.com/clauderic/react-sortable-hoc/issues/212 */
    pointer-events: auto !important;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    font-size: 17px;
}

.child {
    margin-left: 30px;
}

.child-projects {
    margin-top: 4px;
}

.build-types {
    margin-top: 4px;
}