.root {
    margin-top: 5px;
}

.root.hidden {
    color: gray;
}

.header {
    background-color: #F3F5F7;
    padding: 4px 3px;
}

.header > span + span {
    margin-left: 10px;
}

.name {}

.collapse,
.expand {
    cursor: pointer;
    text-decoration: underline;
}

.config {
    float: right;
}

.show,
.hide {
    text-decoration: underline;
    cursor: pointer;
}

.child {
    margin-left: 30px;
}

.child-projects {
    margin-top: 4px;
}

.build-types {
    margin-top: 4px;
}